<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DASHBOARD_TEST" thread-count="1" parallel="tests">
    <test name="Login Test">
        <parameter name="browser" value="chrome.local"/>
        <classes>
            <class name="com.test.login.LoginTest"/>
        </classes>
    </test>
</suite>
